* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
   
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}

.nav-logo {
    height: 50px;
    width: 140px;
}

.logo {
    position: relative;
    top: 10px;
    left: 10px;
    height: 50px;
    width: 140px;
    background-image: url(Amazon-Logo-new.webp);
    background-size: contain;
    background-repeat: no-repeat;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/* Box 2 */
.nav-first {
    counter-reset: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 30px;

}

.add-icon {
    display: flex;
    align-items: center;
    margin-left: 10px;

}

.nav-second {
    margin-left: 2px;
}

/* Box 2 */
.nav-search {
    display: flex;
    width: 600px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;

}
.nav-search:hover{
    border: 2px solid orange;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;


}

.search-input {
    width: 100%;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color:#febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;

}
.nav-regin{
    margin-top: 15px;
    font-size: 13px;
}

/* Box 3 */
span{
    font-size: 0.65rem;
}
.add-second{
    font-size: 0.85rem;
    font-weight: bold;
}

.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 14px;
    font-weight: 700c;
}
/* Pannel div */

.pannel{
    display: flex;
    height: 40px;
    background-color: #222f3d;
    font-size: 14px;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.pannel-options p{
    display: inline;
    margin-left: 15px;
}
.pannel-options{
    width: 70%;
}
.panell-all{
    width: 60px;
}

/* Hero Section */
.hero-section{
    background-image: url(Hero.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: end;
    
}

.hero-message{
    height:30px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-bottom: 50px;
}
.hero-message a{
color: #008175;
}

/* Shop section */
.shop-section{
    display: flex;
    background-color: #EBF4DD;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.shop-section a{
    color: #0f1111;
    text-decoration: none;
}
.box{
    height: 400px;
    width: 32%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content a:hover{
    color:#d58216;
    text-decoration: underline;
}
/* Footer */
.footer-pannel1{
    display: flex;
    height: 50px;
    background-color: #36475d;
    color: white;
    justify-content: center;
    align-items: center;
}
.footer-pannel2{
    background-color: #283645;
    height: 300px;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.footer-pannel2 a{
    margin-top: 10px;
    font-size: 0.85rem;
    color: white;
    text-decoration: none;
    display: block;
}
ul{
    margin-top: 20px;
}
ul p{
    font-size: 1rem;
    font-weight: 700;
}
ul a:hover{
    text-decoration: underline;
}
.footer-pannel3{
    height: 70px;
    border-top: 1px solid white;
     background-color: #283645;
     display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo{
    
    background-image: url("Amazon-Logo-new.webp");
    background-size: contain;
    background-repeat: no-repeat;
    height:50px;
    width: 10%;
}
.footer-panel4{
    height: 76px;
    background-color: #131A22;
    color: white;
    text-align: center;
}
.foot-pages{
    padding-top: 15px;
}
.foot-pages a{
    padding-top: 15px;
    padding-right: 10px;
    color:white;
    text-decoration: none;
}
.copyright{
    padding-top: 5px;
}






















.search-select:hover{
    background-color: #b0afaf;
}